@font-face {
  font-family: "Millimetre";
  src: url('~@/assets/fonts/millimetre/regular/Millimetre-Regular_web.eot');
  src: url('~@/assets/fonts/millimetre/regular/Millimetre-Regular_web.otf') format('truetype'),
        url('~@/assets/fonts/millimetre/regular/Millimetre-Regular_web.woff') format('woff'),
        url('~@/assets/fonts/millimetre/regular/Millimetre-Regular_web.eot?#iefix') format('embedded-opentype');
        // url('assets/fonts/millimetre/regular/Millimetre-Regular_web.svg#MillimetreRegular') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "Millimetre";
  src: url('~@/assets/fonts/millimetre/bold/Millimetre-Bold_web.eot');
  src: url('~@/assets/fonts/millimetre/bold/Millimetre-Bold_web.otf') format('truetype'),
        url('~@/assets/fonts/millimetre/bold/Millimetre-Bold_web.woff') format('woff'),
        url('~@/assets/fonts/millimetre/bold/Millimetre-Bold_web.eot?#iefix') format('embedded-opentype');
        // url('assets/fonts/millimetre/regular/Millimetre-Bold_web.svg#MillimetreBold') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: "Daubenton";
  src: url('~@/assets/fonts/daubenton/daubenton.ttf') format('truetype'),
  url('~@/assets/fonts/daubenton/daubenton.woff') format('woff'),
  url('~@/assets/fonts/daubenton/daubenton.svg#MillimetreRegular') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "Messapia";
  src: url('~@/assets/fonts/messapia/regular/Messapia-Regular.eot'),
  url('~@/assets/fonts/messapia/regular/Messapia-Regular.woff') format('woff'),
  url('~@/assets/fonts/messapia/regular/Messapia-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/messapia/regular/Messapia-Regular.svg#MessapiaBold') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "Messapia";
  src: url('~@/assets/fonts/messapia/bold/Messapia-Bold.eot'),
  url('~@/assets/fonts/messapia/bold/Messapia-Bold.woff') format('woff'),
  url('~@/assets/fonts/messapia/bold/Messapia-Bold.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/messapia/bold/Messapia-Bold.svg#MessapiaBold') format('svg');
  font-weight: bold;
}
