@font-face {
  font-family: "Millimetre";
  src: url('/fonts/millimetre/regular/Millimetre-Regular_web.eot');
  src: url('/fonts/millimetre/regular/Millimetre-Regular_web.otf') format('truetype'),
        url('/fonts/millimetre/regular/Millimetre-Regular_web.woff') format('woff'),
        url('/fonts/millimetre/regular/Millimetre-Regular_web.eot?#iefix') format('embedded-opentype'),
        url('/fonts/millimetre/regular/Millimetre-Regular_web.svg#MillimetreRegular') format('svg');
}
/*
@font-face {
  font-family: "Millimetre";
  font-weight: bold;
  src: url('MaSuperFonte-Bold.ttf');
}
 */